:root {
  --bg: #fdfcff;
  --text: #37304f;
  --pill-bg: #f3edfe;
  --pill-hover: #ebe3fc;
  --pill-border: #e3d9fa;
  --pill-focus: #c9baf2;
  --placeholder: #8d81b5;
  --button: #5d5290;
  --button-hover: #4d4478;
  --error-bg: #fdecec;
  --error-border: #f5c2c2;
  --error-text: #8a2f2f;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/1.5 var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #13111c;
    --text: #e7e2f5;
    --pill-bg: #1e1a2c;
    --pill-hover: #29243d;
    --pill-border: #383052;
    --pill-focus: #675b9e;
    --placeholder: #8d83b3;
    --button: #7e6eb8;
    --button-hover: #9686d6;
    --error-bg: #32161b;
    --error-border: #5e252e;
    --error-text: #f28d98;
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
